/*
* @Author: aicai
* @Date:   2017-10-16 10:25:01
* @Last Modified by:   aicai
* @Last Modified time: 2017-10-19 11:18:41
*/
@import url('base.css');
/* 头部开始 */
header{
	height: 40px;
	width: 100%;
	background: #444;
}
.head-nr{
	/* width: 976px; */
	height: 100%;
	/* background: pink; */
	
	margin: 0 auto;
}
.head-gg{
	width: 44px;
	height: 11px;
	float: right;
    color: #a8a8aa;
    font-size: 11px;
	line-height: 40px;
}
/* 头部结束 */
/* nav开始 */
.nav{
	width: 100%;
	height: 44px;
	background:#333; 
}
nav{
	/* width: 976px; */
	height: 100%;
	/* background: pink; */
	margin: 0 auto;
}
nav ul{
	/* width: 976px; */
	height: 100%;
	/* background: red; */
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	font-size: 11px;
	line-height: 40px;
	color: white;
}
/* nav结束 */
/* iphone8开始 */
.iphone8{
	width: 100%;
	height: auto;
	background: #f9f0eb;
}
.iphone8-tm{
	/* width: 214px; */
	height: 40px;
	color: #000;
	/* font-size: 40px; */
	margin: 0 auto;
	text-align: center;
}
.iphone8-wz{
	width: 165px;
	height: 25px;
	color: #111;
	font-size: 25px;
	margin: 0 auto;
	/* margin-top: 20px; */
	text-align: center;
}
.iphone8-tp1{
	width: 561px;
	height: 395px;
	margin: 0 auto;
	margin-top: 35px;
}
.iphone8-tp2{
	width: 549px;
	height: 388px;
	margin: 0 auto;
	margin-top: 35px;
}
.iphone8-tp3{
	width: 267px;
	height: 357px;
	margin: 0 auto;
	margin-top: 35px;
}
.iphone8 div img{
	display: block;
	width: 100%;
	height: 100%;
}
/* iphone8结束 */
/* iphonex开始 */
.iphonex{
   width: 100%;
   height: auto;
   padding: 67px 0 87px ;
   background: #fafafa;
   border-top: 10px solid white;
   border-bottom: 10px solid white;
}
.iphonex-nr{
   width: 100%;
   height: 100%;
}
 .iphonex-nr li:first-child{
   width:100%;
   color: #333;
   margin: 0 auto;
   text-align: center;
   }
  .iphonex-nr li:nth-child(2){
   width:100%;
   color: #333;
   margin: 0 auto;
   margin-top: 2px;
   text-align: center;
   }
  .iphonex-nr li:last-child{
   margin: 0 auto;
   /* 909 194   704 148  167 333 */
   }
/* iphonex结束 */
/* iphone新品开始 */
.iphone-xp{
   width: 100%;
   height: auto;
   border-bottom: 10px solid white;
}
.xp-box{
   width: 100%;
   height: auto;
   overflow: hidden;
}
 /* iphone新品开始  */
 /* 尾部开始 */
 footer{
   width: 100%;
   height: auto;
   background: #f2f2f2;
   /* padding:42px 0px 24px ; */
 }
 .foot-list{
   /* width: 980px; */
   height: auto;
   margin: 0 auto;
 }
 .foot-list ul{
   width: 100%;
   height: auto;
   overflow: hidden;
   display: flex;
   justify-content: space-between;
 }
.foot-list ul li{
   width: 80px;
   height: 10px;
   float: left;
   font-size: 10px;
   line-height: 10px;
   margin-bottom: 10px;
}
.foot-list ul li:hover{
   text-decoration: underline;
}
.foot-list ul:first-child li{
     text-decoration:none;
}
.foot-list ul li:first-child {
    color:#333 ;
}
.foot-list ul li a{
   color:#635959 ;
}
.foot-list2{
   width: auto;
   height: auto;
   margin: 0 auto;
}
.foot-list2 ul{
   width: auto;
   height: auto;
   margin: 0 auto;
   padding-left: 10px;
   padding-right: 10px;
}
.foot-list2 ul li{
   width: auto;
   height: 40px;
   font-size: 10px;
   line-height: 40px;
   color:#635959 ;
   border-bottom:1px solid #D6D6D6;
   display: flex;
   justify-content: space-between; 
}
.foot-list2 ul li a{
   color:#635959 ;
}
.foot-list2 ul li:hover a{
   color:#333 ;
}
.fooot2-list{
   width: 980px;
   height: 27px;
   margin: 0 auto;
   font-size: 9px;
   line-height: 27px;
   border-bottom: 1px solid #D6D6D6;
   color: #888;
}
.fooot2-list a{
   font-size: 10px;
   line-height: 27px;
   color: #1670CE;
}
.fooot2-list a:hover{
   text-decoration: underline;
}
.foot0-list0{
   height: auto;
   margin: 0 auto;
   background: #f2f2f2;
}
.foot1-list{
   width: 980px;
   height: 16px;
   margin: 0 auto;
   margin-top: 5px;
}
.foot1-bq{
   width: 220px;
   height: 16px;
   font-size: 10px;
   float: left;
   line-height: 16px;
   color: #888;
   margin-right: 30px;
}
.foot1-ys{
   width: auto;
   height:16px;
   float: left;
}
.foot1-ys li{
   height: 16px;
   float:left;
   font-size: 10px;
   line-height: 16px;
   margin-left: 10px;
   padding-right: 12px;
   border-right: 1px solid #D6D6D6;
}
.foot1-ys li a{
   color: #555555;
}
.foot1-ys li:first-child{
   margin-left: 0px;
}
.foot1-ys li a:hover{
   color: #333;
   text-decoration: underline;
}
.foot1-cn{
   float: right;
}
.foot1-tp{
   display: block;
   width: 16px;
   height: 16px;
   float: left;
}
.foot1-tp img{
   display: block;
   width: 100%;
   height: 100%;
}
.foot1-wz{
   display: block;
   float: left;
   width: 24px;
   height: 16px;
   color: #999;
   font-size: 10px;
   line-height: 16px;
   margin-left: 2px;
}
.foot3-list{
   width: 980px;
   height: 16px;
   margin: 0 auto;
   margin-top: 4px;
   font-size: 10px;
   line-height: 16px;
   text-align: left;
   color: #999;
}
.foot3-list a{
   color: #999;
}
.foot3-list a:hover{
   text-decoration: underline;
}
/* 底部底部第二屏 */
.foot0-list2{
   width: auto;
   height: auto;
   background: #f2f2f2;
   margin: 0 auto;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
   overflow: hidden;
}
.foot0-list2 .fooot2-list{
   margin-top: 10px;
   display: block;
   border: 0;
}
.foot0-list2 .foot1-cn{
    margin-top: 10px;
   width: 100%;
   display: block;
}
.foot0-list2 .foot1-bq{
    margin-top: 10px;
   width: 100%;
   display: block;
}
.foot0-list2 .foot1-ys{
   width: 100%;
   display: block;
}
.foot0-list2 .foot3-list{
   margin-top: 5px;
   width: 100%;
   display: block;
}
 /* 尾部结束 */
 /* 尾部响应式 */
 @media screen and (min-width: 980px){
     footer{
     padding:42px 0px 24px ;
     }
    .foot-list{
      display: block;
      width: 980px;
    }
    .foot-list2{
      display: none;
    }
    .foot0-list0{
      display: block; 
      width: 980px;
    }
    .fooot2-list{
     width: 980px;
     }
     .foot1-list{
       width: 980px;
     }
     .foot3-list{
       width: 980px;
     }
    .foot0-list2{
       display: none;
    }
 }
  @media screen and (max-width: 980px){
     footer{
     padding:42px 0px 24px ;
     }
    .foot-list{
      display: block;
      width: auto;
      padding-left: 24px;
      padding-right: 120px;
    }
    .foot-list2{
      display: none;
    }
    .foot0-list0{
      display: block; 
      width: auto;
      padding-left: 24px;
      padding-right: 24px;
    }
    .fooot2-list{
     width: auto;
     }
     .foot1-list{
       width: auto;
     }
     .foot3-list{
       width: auto;
     }
    .foot0-list2{
       display: none;
    }
 }
 @media screen and (max-width: 768px){
   footer{
     padding: 0px  ;
     }
   .foot-list{
      display: none;
    }
    .foot-list2{
      display: block;
    }
    .foot0-list0{
      display: none;
      
    }
    .foot0-list2{
       display: block; 
    }
 }
/* 响应式开始 */
                     /* 阈值 */
@media screen and (min-width:1024px){
   .head-nr{
   	width: 976px;
   }
    nav {
   	width: 976px;
   }
   nav ul{
   	width: 976px;
   }
   .nav1{
   	display: block;
   }
   .nav2{
   	display: none;
   }
   .iphone8{
   	padding-top: 65px;
   }
   .iphone8-tm{
   font-size: 49px;
   }
   .iphone8-wz{
    margin-top: 24px;
   }
   .iphone8-tp1{
   	display: block;
   }
   .iphone8-tp2{
   	display:none;
   }
   .iphone8-tp3{
   	display: none;
   }
   .iphonex-nr li:first-child{
   height: 48px; 
   font-size: 44px;
   line-height: 48px;
   }
  .iphonex-nr li:nth-child(2){
   height: 26px; 
   font-size: 22px;
   line-height: 26px;
   margin-top: 2px;
   }
  .iphonex-nr li:last-child{
   width:909px;
   height: 194px; 
   background: url('../img/iphonex-large.jpg') no-repeat center center;
   margin-top: 150px;
   /* 909 194   704 148  167 333 */
   }
   /* 新品 */
   .xp-box li{
   width: 50%;
   height: 580px;
   border-right: 6px solid white;
   border-bottom:  6px solid white;
   background: #fafafa;
   float: left;
   }
   .xp-box li:nth-child(odd){
   border-left: 6px solid white;
   }
   .xp-top{
   width: 100%;
   height: auto;
   padding-top: 52px;
   }
   .xp-top p{
   display: block;
   margin: 0 auto;
   text-align: center;
   color: #111;
   width: 550px;
   height: 52px;
   font-size: 48px;
   line-height: 52px;
   } 
   .xp-top h5{
   display: block;
   margin: 0 auto;
   text-align: center;

   width: 550px;
   height: 56px;
   color: #333;
   font-size: 24px;
   line-height: 56px;
   } 
   .xp-tp{
   width:499px;
   height: 292px; 
   margin: 0 auto;
   margin-top: 50px;
   }
   .xp-box li:first-child .xp-tp{
   background: url('../img/iphone-xp01-large.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(2) .xp-tp{
   background: url('../img/iphone-xp02-large.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(3) .xp-tp{
   background: url('../img/iphone-xp03-large.jpg') no-repeat center center;
   }
   .xp-box li:last-child .xp-tp{
   background: url('../img/iphone-xp04-large.jpg') no-repeat center center;
   }
}
@media screen and (max-width:1024px){
   .head-nr{
   	padding-right: 22px;
   }
    nav ul{
   	padding-right: 22px;
    padding-left: 22px;
   }
   .nav1{
   	display: block;
   }
   .nav2{
   	display: none;
   }
   .iphone8{
   	padding-top: 77px;
   }
   .iphone8-tm{
   	width: 230px;
    font-size: 32px;
   }
   .iphone8-wz{
    margin-top: 16px;
   }
   .iphone8-tp1{
   	display: none;
   }
   .iphone8-tp2{
   	display:block;
   }
   .iphone8-tp3{
   	display: none;
   }
   .iphonex-nr li:first-child{
   height: 48px; 
   font-size: 44px;
   line-height: 48px;
   text-align: center;
   }
  .iphonex-nr li:nth-child(2){
   height: 26px; 
   font-size: 22px;
   line-height: 26px;
   margin-top: 2px;
   }
  .iphonex-nr li:last-child{
   width:704px;
   height: 148px; 
   background: url('../img/iphonex-mid.jpg') no-repeat center center;
   margin-top: 180px;
   /* 909 194   704 148  167 333 */
   }
   /* 新品 */
   .xp-box li{
   width: 50%;
   height: 490px;
   border-right: 6px solid white;
   border-bottom:  6px solid white;
   background: #fafafa;
   float: left;
   }
   .xp-box li:nth-child(odd){
   border-left: 6px solid white;
   }
   .xp-top{
   width: 100%;
   height: auto;
   padding-top: 52px;
   }
   .xp-top  p{
   display: block;
   margin: 0 auto;
   text-align: center;
   color: #111;
   width: 80%;
   height: 44px;
   font-size: 40px;
   line-height: 44px;
   } 
   li:nth-child(3) .xp-top p{
   height: 88px;
   font-size: 40px;
   line-height: 44px; 
   }
   li:nth-child(4) .xp-top p{
   height: 88px;
   font-size: 40px;
   line-height: 44px; 
   }
   .xp-top h5{
   display: block;
   margin: 0 auto;
   text-align: center;

   width: 80%;
   height: 50px;
   color: #333;
   font-size: 21px;
   line-height: 50px;
   } 
   .xp-tp{
   width:322px;
   height: 194px; 
   margin: 0 auto;
   margin-top: 70px;
   }
   .xp-box li:first-child .xp-tp{
   background: url('../img/iphone-xp01-mid.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(2) .xp-tp{
   background: url('../img/iphone-xp02-mid.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(3) .xp-tp{
   background: url('../img/iphone-xp03-mid.jpg') no-repeat center center;
   }
   .xp-box li:last-child .xp-tp{
   background: url('../img/iphone-xp04-mid.jpg') no-repeat center center;
   }
}
@media screen and (max-width:768px){
    .nav1{
   	display: none;
   }
  .nav2{
   	display: block;
   }
   .iphone8{
   	padding-top: 45px;
   }
   .iphone8-tm{
   font-size: 23px;
   }
   .iphone8-wz{
   margin-top: 13px;
   }
   .iphone8-tp1{
   	display: none;
   }
   .iphone8-tp2{
   	display:none;
   }
   .iphone8-tp3{
   	display: block;
   }
   .iphonex-nr li:first-child{
   height: 48px; 
   font-size: 32px;
   line-height: 48px;
   }
  .iphonex-nr li:nth-child(2){
   height: 26px; 
   font-size: 19px;
   line-height: 26px;
   margin-top: 2px;
   }
  .iphonex-nr li:last-child{
   width:167px;
   height: 333px; 
   background: url('../img/iphonex-smal.jpg') no-repeat center center;
   margin-top: 37px;
   /* 909 194   704 148  167 333 */
   }
   /* 新品 */
   .xp-box li{
   width: 100%;
   height: 500px;
   border-right: 0px solid white;
   border-bottom:  6px solid white;
   background: #fafafa;
   float: left;
   }
   .xp-box li:nth-child(odd){
   border-left: 0px solid white;
   }
   .xp-top{
   width: 100%;
   height: auto;
   padding-top: 52px;
   }
   .xp-top p{
   display: block;
   margin: 0 auto;
   text-align: center;
   color: #111;
   width: 550px;
   height: 52px;
   font-size: 32px;
   line-height: 52px;
   } 
   .xp-top h5{
   display: block;
   margin: 0 auto;
   text-align: center;

   width: 550px;
   height: 28px;
   color: #333;
   font-size: 19px;
   line-height: 28px;
   } 
   .xp-tp{
   width:383px;
   height: 293px; 
   margin: 0 auto;
   margin-top: 10px;
   }
   .xp-box li:first-child .xp-tp{
   background: url('../img/iphone-xp01-saml.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(2) .xp-tp{
   background: url('../img/iphone-xp02-saml.jpg') no-repeat center center;
   }
   .xp-box li:nth-child(3) .xp-tp{
   background: url('../img/iphone-xp03-saml.jpg') no-repeat center center;
   }
   .xp-box li:last-child .xp-tp{
   background: url('../img/iphone-xp04-saml.jpg') no-repeat center center;
   }
}
/* 响应式结束 */